<div class="jumbotron margin-top-20">
    <h1>ARANDA SOFTWARE</h1>
    <p class="lead">Bienvenido a la prueba de Aranda Software</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Noticia 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere lorem et elit placerat tincidunt. Vestibulum cursus eget nisi sit amet volutpat. Donec non aliquet enim. Phasellus quis lectus tincidunt nunc ornare bibendum. Morbi faucibus ligula sit amet enim molestie interdum. Mauris ut luctus lectus. Donec ac cursus sapien, ac molestie urna.</p>
    </div>
    <div class="col-md-4">
        <h2>Noticia 2</h2>
        <p>Quisque congue quis neque eget venenatis. Cras euismod porttitor tempus. Donec diam ligula, ultricies quis bibendum vel, venenatis et purus. In bibendum et elit eu facilisis. Pellentesque purus arcu, varius non sem in, vestibulum lobortis mauris. Maecenas hendrerit erat eget bibendum finibus. Vivamus ac pretium urna.</p>
    </div>
    <div class="col-md-4">
        <h2>Noticia 3</h2>
        <p>Pellentesque ut arcu in dolor malesuada aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in est eleifend, gravida erat vitae, laoreet orci. Ut in volutpat ante. Ut eu sem ac sapien sollicitudin dignissim et eget enim. Suspendisse consequat augue quam, sed rhoncus turpis convallis sit amet.</p>
    </div>
</div>
